PORT=3000
PROJECT_EVE_IS_PRODUCTION=false
PROJECT_EVE_APP_SECRET=defaultappsecret
PROJECT_EVE_REDIS_URL=redis://redis
PROJECT_EVE_REDIS_PORT=6379
PROJECT_EVE_APP_SECRET=defaultappsecret
PROJECT_EVE_DB_USER=postgres
PROJECT_EVE_DB_DIALECT=postgres
PROJECT_EVE_DB_PASS=1234
PROJECT_EVE_DB_HOST_DOCKER=projecteve-backend-postgres-1
PROJECT_EVE_DB_HOST=projecteve-backend-postgres-1
PROJECT_EVE_DB_PORT=5432
PROJECT_EVE_DB_NAME=data_dev
